body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: grey;
  }
  h1 {
    color: #333;
  }
  .post {
    margin-bottom: 30px;
  }
  .post-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  .post-date {
    font-size: 14px;
    color: #999;
  }
  .post-content {
    margin-top: 10px;
    background-color: blue;
  }